
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutUI.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Profile/Index">Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</nav>