Vitask/DataAccessLayer/Context/VitaskContext.cs



Vitask/Vitask/bin/*
Vitask/Vitask/obj/*


Vitask/DataAccessLayer/bin/*
Vitask/DataAccessLayer/obj/*
Vitask/Business/bin/*
Vitask/Business/obj/*
Vitask/Entities/bin/*
Vitask/Entities/obj/*
*.user
*.suo

.vs/*
Vitask/.vs/*

Vitask/Vitask/wwwroot/adminmart-master/*

Vitask/DataAccessLayer/Migrations/*