@using Vitask.Models
@model List<SelectListItemViewModel>

@{
	Layout = null;
	
}



<div class="form-group">
	<label for="userSelect">Project Leader</label>
	<select id="userSelect" class="form-control" >
		<option value="">Select a user</option>
		@foreach (var user in Model)
		{
			<option value="@user.id">@user.text</option>
		}
	</select>
</div>

<div class="form-group">
	<label for="userSelect">Project Users</label>
	<select id="userSelect" name="selectedUserId" class="form-control" multiple>
		<option value="">Select a user</option>
		@foreach (var user in Model)
		{
			<option value="@user.id">@user.text</option>
		}
	</select>
</div>
